<form method="post" action="/figures/<%=@figure.id%>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  Name: <input type="text" name="figure_name" id="figure[name]" value="<%=@figure.name%>">
</br>
  <% @figure.titles.each do |title| %>
    <input id="title_<%= title.id %>" type="checkbox" name="figure[title_ids][]" value="<%= title.id %>">
    <%=title.name%>
  </input>
  <% end %>
</br>
  <input type="submit" value="Edit Figure">
</form>
